@model IEnumerable<GuardianChecks.Models.Navbar>

<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		@foreach (var item in Model)
		{
			<li>
				<a href="@Url.Action(item.Action, item.Controller)" class="navbar-link"><span class="fa fa-lg fa-@item.Icon"></span>&nbsp; @item.Name</a>
			</li>
		}
		<li class="dropdown">
			@{ var fullname = Session["UserFullName"]; }
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="fa fa-user-circle-o"></span>  @fullname
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="@Url.Action("Edit", "Users", new { UserId = Session["UserId"] })">Manage</a></li>
				<li><a href="@Url.Action("ChangePassword", "Users", new { UserId = Session["UserId"] })">Change Password</a></li>
				<li><a href="@Url.Action("LogOut", "Security")">Logout</a></li>
			</ul>
		</li>
	</ul>
</div>
