@model IEnumerable<GuardianChecks.Models.Cabinet>

<div class="panel panel-default">
	<div class="panel-heading">Cabinets</div>
	<div class="panel-body">
		<table class="table table-bordered table-condensed table-striped" id="tbl-cabinets">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.Name)</th>
					<th>@Html.DisplayNameFor(model => model.Description)</th>
					<th>@Html.DisplayNameFor(model => model.HeartSafeNumber)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.Name)</td>
						<td>@Html.DisplayFor(modelItem => item.Description)</td>
						<td>@Html.DisplayFor(modelItem => item.HeartSafeNumber)</td>
						<td></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>



