<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Guernsey PAD Sites</title>
	@Styles.Render("~/Content/Styles")
	@Scripts.Render("~/bundles/scripts")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="~/" id="link-header"><span class="fa fa-lg fa-heartbeat"> </span>&nbsp;Guernsey PAD Sites</a>
			</div>
			@Html.Action("_Navbar", "Navbar")
			<a class="btn btn-default btn-sm"><span class="fa fa-user-circle-o"></span></a>
		</div>
	</div>
	<div class="container-fluid body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Cardiac Action Group</p>
		</footer>
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
