@model IEnumerable<GuardianChecks.Models.Issue>

<table class="table">
	<tr>
		<th>@Html.DisplayNameFor(model => model.Severity)</th>
		<th>@Html.DisplayNameFor(model => model.Description)</th>
		<th>@Html.DisplayNameFor(model => model.ReportedOn)</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>

			<td>@Html.DisplayFor(modelItem => item.Severity)</td>
			<td>@Html.DisplayFor(modelItem => item.Description)</td>
			<td>@Html.DisplayFor(modelItem => item.ReportedOn)</td>
		</tr>
	}

</table>
