@model IEnumerable<GuardianChecks.Models.GuardianCheck>

@{
    ViewBag.Title = "Guardian Checks";
}

<div class="panel panel-default" style="margin-top: 25px;">
	<div class="panel-heading">
		Guardian Checks
	</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped table-condensed" id="tbl-checks">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.Date)</th>
					<th>@Html.DisplayNameFor(model => model.Location)</th>

					<th>@Html.DisplayNameFor(model => model.Issues)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.Date)</td>
					<td>@Html.DisplayFor(modelItem => item.Location)</td>

					<td>@Html.DisplayFor(modelItem => item.Issues)</td>
					<td class="text-center">
						<a href="@Url.Action("Details", "Guardians", new { item.CheckId })" class="btn btn-default btn-sm">Details</a>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>



@section scripts {
	
	<script type="text/javascript">

		$('#tbl-checks').DataTable({
			pageLength: 50,
			columnDefs: [
				{ targets: [0], type: "date-uk" }
			],
			order: [[0, 'desc']]
		})

	</script>

}
